{% extends 'base.html' %}
{% block javascript %}
<script type="text/javascript" src="/media/js/behaviour.js"></script>
<script type="text/javascript" src="/media/js/jquery.js"></script>
<script type="text/javascript" src="/media/js/functions.js"></script>
{% endblock %}
{% block content %}
    <fieldset>
        <legend>Mis Reservas</legend>
        {% if reservas %}
            {% for reserva in reservas %}
                Ud tiene una {{ reserva }}
            {% endfor %}
        {% else %}
            No tiene reservas.
        {% endif %}
    </fieldset>
    <fieldset>
        <legend>Reservar!</legend>
        <p id="hoy_link">
            Hoy {% now "d-m-Y" %}
        </p>
        <div id="hoy">
            <table id="tabla_hoy">
                <tr>
                    <td style="text-align: center;">Hora</td>
                    {% for cancha in canchas %}
                        <td style="text-align: center;">{{ cancha.nombre }}</td>
                    {% endfor %}
                </tr>
                {{ tabla_hoy }}
<!--
                {% for hora in horarios %}
                    <tr>
                        <td>{{ hora }}:00 hs.</td>
                        {% for cancha in canchas %}
                            <td>
                                {% if hoy.hora %}
                                    Si
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
-->
            </table>
        </div>

        <p id="maniana_link">
            Ma&ntilde;ana {{ maniana }}
        </p>
        <div id="maniana">
            <table id="tabla_maniana">
                <tr>
                    <td style="text-align: center;">Hora</td>
                    {% for cancha in canchas %}
                        <td style="text-align: center;">{{ cancha.nombre }}</td>
                    {% endfor %}
                </tr>
                {{ tabla_man }}
            </table>
        </div>
        <div>
        </div>
    </fieldset>
{% endblock %}
