{% extends 'base.html' %}
{% load i18n %}
{% block javascript %}
<script type="text/javascript" src="/media/js/behaviour.js"></script>
<script type="text/javascript" src="/media/js/jquery.js"></script>
<script type="text/javascript" src="/media/js/functions.js"></script>
{% endblock %}
{% block content %}
    <fieldset>
        <legend>{% trans "Mis Reservas" %}</legend>
        {% if not puede_reservar %}
            <div>
                {% trans "Dia" %}: {{ dia }} {% trans "de" %} {{ mes }}
            </div>
            <div>
                {% trans "Hora" %}: {{ hora }}:00
            </div>
            <div>
                {% trans "Cancha" %}: {{ cancha }}
            </div>
            <div>
                {% trans "Junto a" %}: {{ invitado }}
            </div>
            <p>
                <!-- <input type="submit" name="cancelar" id="cancelar" value="Cancelar Reserva!" /> -->
                <form method="post" action="/cancelar/reserva/" id="cancelarform">
                    <input type="hidden" name="reserva" id="reserva" value="{{ id }}" />
                    <input type="hidden" name="confirmada" id="confirmada" />
                    <button name="cancelar" id="cancelar" value="cancelar" type="submit"><img src="/media/images/cancel.gif" alt="" /> {% trans "Cancelar" %}!</button>
                </form>
                <form method="post" action="/imprimir/" id="imprimirform">
                    <button name="imprimir" id="imprimir" value="imprimir" type="submit"><img src="/media/images/print.gif" alt="" /> {% trans "Imprimir" %}</button>
                </form>
            </p>
        {% else %}
            {% trans "No tiene reservas actualmente." %}
        {% endif %}
    </fieldset>
    <fieldset id="reservar">
        <legend>{% trans "Reservar" %}!</legend>
        {% if puede_reservar %}
        <p>
            &iquest;Con qui&eacute;n va a jugar?
            <div id="radiopartner">
                Socio: <input type="radio" name="partner" value="socio" />
                Invitado: <input type="radio" name="partner" value="invitado" /> 
            </div>
            <div id="partner">
            </div>
        </p>
        <p id="hoy_link">
            {% trans "Hoy" %} {% now "d-m-Y" %}
        </p>
        <div id="hoy">
            <table id="tabla_hoy">
                <tr>
                    <td class="tdhora" style="text-align: center;">{% trans "Hora" %}</td>
                    {% for cancha in canchas %}
                        <td style="text-align: center;">{{ cancha.nombre }}</td>
                    {% endfor %}
                </tr>
                {{ tabla_hoy }}
            </table>
        </div>

        <p id="maniana_link">
            {% trans "Ma&ntilde;ana" %} {{ maniana }}
        </p>
        <div id="maniana">
            <table id="tabla_maniana">
                <tr>
                    <td class="tdhora" style="text-align: center;">{% trans "Hora" %}</td>
                    {% for cancha in canchas %}
                        <td style="text-align: center;">{{ cancha.nombre }}</td>
                    {% endfor %}
                </tr>
                {{ tabla_man }}
            </table>
        </div>
        {% else %}
        <p>
            {% trans "No puede realizar otra reserva, ya tiene una pendiente." %}
        </p>
        {% endif %}
    </fieldset>
{% endblock %}
