{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ CSS_PATH }}canchas.css" type="text/css" />
{% endblock %}
{% block content %}
    <fieldset>
        <legend>{% trans "Entrar" %}</legend>
        <form method="post" action="/login/" id="loginform">
            {% if error %}
                <p id="errorholder">
                    {{ error }}
                </p>
            {% endif %}
            {{ form.as_p }}
            <button name="login" id="login" value="entrar" type="submit"><img src="/media/images/login.gif" /> {% trans "Entrar" %}!</button>
        </form>
    </fieldset>
{% endblock %}
