{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <fieldset>
        <legend>{% trans "Entrar" %}</legend>
        <form method="post" action="/login/" id="loginform">
            {% if error %}
                <p id="errorholder">
                    {{ error }}
                </p>
            {% endif %}
            {{ form.as_p }}
            <p>
                <button name="login" id="login" value="entrar" type="submit"><img src="/media/images/login.gif" alt="{% trans "Autentificarse" %}" /> {% trans "Entrar" %}!</button>
            </p>
        </form>
    </fieldset>
{% endblock %}
