{% extends "base.html" %}
{% load i18n %}
{% block content %}
    {% if not user.is_authenticated %}
    <fieldset>
        <legend>{% trans "Login de Administrador" %}</legend>
        <form method="post" action="/login/" id="loginform">
            {{ admin.as_p }}
            <button name="login" id="login" value="entrar" type="submit"><img src="/media/images/login.gif" /> {% trans "Entrar" %}!</button>
        </form>
    </fieldset>
    {% else %}
        {% if user.is_staff %}
        <h2>{% trans "&iquest;Qu&eacute; desea hacer?" %}</h2>
        <ul>
            <li>{% trans "Socios" %}
                <ul>
                    <li><a href="/administrador/socios/"><img src="/media/images/agenda.png" alt="{% trans "Agenda de socios" %}" /> {% trans "Directorio" %}</a></li>
                    <li><a href="/administrador/socio/nuevo/"><img src="/media/images/socio_nuevo.png" alt="{% trans "Socio nuevo" %}" /> {% trans "Ingresar nuevo" %}</a></li>
                </ul>
                
            </li>
            <li>{% trans "Reservas" %}
                <ul>
                    <li><a href="/administrador/reservas/"><img src="/media/images/administrar.png" alt="{% trans "Icono de reservas" %}" /> {% trans "Administrar" %}</a></li>
                    <li><a href="/administrador/reservar/"><img src="/media/images/reserva_nueva.png" alt="{% trans "Icono de nueva reserva" %}" /> {% trans "Crear nueva" %}</a></li>
                </ul>
            </li>
        </ul>
        {% endif %}
    {% endif %}
{% endblock %}

